{% extends 'Suvjazi_app/base.html' %}
{% block content %}

{% for person in persons %}
<div class='card'>
	<div class='card-body'>
		<h5 class="card-title"><a href="{% url 'person_detail' person.slug %}">{{ person.name }}</a></h5>
		<p class='card-text'>{{ person.description | truncatechars:100 }}</p>
		<!-- <img src='{{ institute.image }}' width=400 height=200 class='card-image'></img> -->
		<a href='admin/Suvjazi_app/person/{{ person.id }}/change/'\
class='card-link'>Edit</a>
		<a href='admin/Suvjazi_app/person/{{ person.id }}/delete/'\
class='card-link'>Delete</a>
		<a href="{% url 'institute_detail' person.institute.slug %}" class="card-link">{{ person.institute }}</a>

	</div>
</div>

{% endfor %}

{% endblock %}

