{% extends 'Suvjazi_app/base.html' %}
{% block content %}

{% for institute in institutes %}
<div class='card'>
	<div class='card-body'>
		<h5 class="card-title"><a href="{% url 'institute_detail' institute.slug %}">{{ institute.title }}</a></h5>
		<p class='card-text'>{{ institute.description | truncatechars:100 }}</p>
		<!-- <img src='{{ institute.image }}' width=400 height=200 class='card-image'></img> -->
		<a href='admin/Suvjazi_app/person/{{ institute.id }}/change/'\
class='card-link'>Edit</a>
		<a href='admin/Suvjazi_app/person/{{ institute.id }}/delete/'\
class='card-link'>Delete</a>
		<br />All persons in the {{ institute.title }}:<br>
		{{ institute.person_set }}

	</div>
</div>

{% endfor %}

{% endblock %}

