{% extends 'suvjazi/base.html' %}
{% load static %}

{% block content %}

<h1>Add a Person</h1>
<div>
    <form id='person_form' method='post' action={% url 'add_person' %}>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <br/>
        {{ form_company.management_form  }}
        {% for fc in form_company %}
        <div class="inlineform">
            {{ fc }}
            <br/>
        </div>
        {% endfor %}

        <div class="wrapper">
            <form class="searchbox">
              <input type="search" placeholder="Search" id="search" autocomplete="off">
              <div id="search-autocomplete" class="search-autocomplete">
                <ul>
                
                  <li class="load-more"><a href="#">Load more</a></li>
                  <li class="no-results">No results.</li>
                  <li class="error">%err%</li>
                </ul>
                <div class="loader">
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
              </div>
            </form>
        </div>
          
        <p class="description">
            Start by typing in the search box to search Google
        </p>




        <input type='submit' name='submit' value='Create Person' />
        <a href={% url 'show_persons' %}>Cancel</a>
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('.inlineform').formset({
            prefix: '{{ form_company.prefix }}',
            addText: '+ Add new company',
            deleteText: '- Remove this company',
        });
    })
</script>
{% endblock scripts %}
