
{% extends 'suvjazi/base.html' %}
{% load static %}

{% block content %}

<h1>Add a Person</h1>
<div>
    <form id='person_form' method='post' action={% url 'add_person' %}>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <br/>
        {{ form_company.management_form  }}
        {% for fc in form_company %}
        <div class="inlineform">
            {{ fc }}
            <br/>
        </div>
        {% endfor %}

        <input type='submit' name='submit' value='Create Person' />
        <a href={% url 'show_persons' %}>Cancel</a>
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('.inlineform').formset({
            prefix: '{{ form_company.prefix }}',
            addText: '+ Add new company',
            deleteText: '- Remove this company',
        });
    })
</script>
{% endblock scripts %}