{% extends 'suvjazi/base.html' %}
{% load static %}

{% block content %}

<h1>Companies List</h1>
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
    <div>
        {% if companies %}
        <ul>
            {% for company in companies %}
            <li>
                <a href='{{ company.slug }}'>{{ company.company_name }}</a>
                <a href={% url 'edit_company' slug=company.slug %}>Edit</a>
                <a href={% url 'delete_company' slug=company.slug %}>Delete</a>
            </li>
            {% endfor %}
            <a href={% url 'add_company' %}>+ Add a New Company</a><br />
        </ul>
        {% else %}
            <strong>There are no companies for now. Let's create them!</strong>
            <a href={% url 'add_company' %}>+ Add a New Company</a><br />
        {% endif %}
    </div>
{% endblock content %}
