{% extends 'suvjazi/base.html' %}
{% load static %}

{% block content %}
{% if entity %}
    <h1>{{ entity.company_name }}</h1>
    {% if entity_persons %}
        <ul>
        {% for person in entity_persons %}
            <li><a href={% url 'show_person' slug=person.slug %}>{{ person.full_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>No employees were added to this company.</strong>
    {% endif %}
{% else %}
    The specified company does not exist!
{% endif %}
{% endblock content %}
