<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Suvjazi</title>
    </head>
    <body>
        <h1>Suvjazi says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href='{% url "suvjazi_app" %}'>Suvjazi App</a><br />
            <a href='{% url "about" %}'>About</a><br />
            <a href='{% url "add_person" %}'>Add a New Person</a><br />
            <img src='{% static "images/test_logo.png" %}' alt='Logo picture' />
        </div>
    </body>
</html>
