<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Suvjazi App</title>
    </head>
    <body>
        <h1>Suvjazi says...</h1>
        <div>hey there partner!</div>
        <div>
            {% if persons %}
                <ul>
                {% for person in persons %}
                <li>
                <a href='/suvjazi_app/{{ person.slug }}'>{{ person.full_name }}</a>
                </li>
                {% endfor %}
                </ul>
            {% else %}
                <strong>There are no persons for now. Let's create them!</strong>
            {% endif %}
        </div>
        <div>
            <a href='{% url "about" %}'>About Suvjazi app</a><br />
            <img src='{% static "images/test_logo.png" %}' alt="Test logo" />
        </div>
    </body>
</html>